<style tyle="text/css>"
#five9-frame-full iframe #input-container.ui-content {
    background-color: #fdfdf1 !important;
    display:none!important;
}
button#start-chat-button {
    background-color: red!important;
}
</style>
